*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 550px;
    box-shadow: 0 0 3px #ccc;
    position: relative;
    overflow: hidden;
}

.hidden{
    display: none;
}

.highlight{
    color: black !important;
    border-bottom:  1px solid black;
    background-color: white;
}

.slider{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.navi{
    text-align: center;
}

.navi button{
    padding: 0px;
    font-size: x-large;
    color: black;
    background: #ccc;
    /* border: 1px solid black;     */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    left: 0;    
    border: none;
}

button:first-child{
    left: 100%;
    transform: translate(-100%, -50%);
}

.top-menu{
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9em;
    grid-row-gap: 1em;
    /* padding: 5px; */
    margin-bottom: 00px;
    border-bottom: 2px solid black;
}

.top-menu .page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}
.top-menu .page a{
    color: black;
}
.top-menu .icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-menu .icon a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
.top-menu .icon i{
    padding: 0 16px;
    cursor: pointer;
    font-size: 19px;
}

.nav {
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;

}

.nav:hover {
    background-color:black; 
}
.nav a h4{
    padding: 10px;
}

.nav h4{
    padding: 10px;
}

.nav a h4:hover {
    /* background-color:black;  */
    color: white !important;
    cursor: pointer; 
}

.nav h4:hover {
    /* background-color:black;  */
    color: white !important;
    cursor: pointer; 
}


.gender{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}

img{
    width: 120px;
    height: auto;
}

.fa-cart-shopping {
    font-size: 1.5rem; 
    color: #333; 
}

/* line */
.lines{
    border-right: 1px solid white;
    height: 36px;
}


.main-content .selector{
    padding: 16px 0px;
    text-align: center;

}

.main-content .selector a{
    font-size: 17px;
    font-weight: 500;
    color:darkgray;
    padding: 12px 22px;
}

#products{
    background-color:rgb(241, 236, 228);
    width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 1em ;
    grid-row-gap: 2em;
    padding: 2.5em 0;
}

#products .card {
    max-width: 16em;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.7s;
}

#products .card:hover{
    transform: translateY(-0.1in);
}

#products .card .image-container img{
    width: 12em;
    object-fit: contain;
    height: 12em;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

/* Them */


#products .card .container {
    padding-top: 1em;
    color: #110f29;
}

#products .card .container h5 {
    font-weight: 500;
    font-size: 16px;
}

#products .card .container h6 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
}

#products .card .container button{
    background-color: white;
    border: none;
    border: solid 1px black;
    margin-top: 14px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

#products .card .container button:hover{
    background-color: black;
    color: white;
}

table{
    margin-top: 20px;
    width: 70%;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

.img-cart{
    width: 50% !important;
}

#delete button{
    font-size:xx-large;
}

#del-all{
    width: 70%;
    margin: 20px auto;
    border: none;
    background-color: rgb(198, 61, 61);
    color: white;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: larger;
}

table{
    width: 70%;
    margin: auto;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

.img-cart{
    width: 20%;
}

.remove-from-cart{
    margin-left: 10px;
}

#del-all{
    width: 70%;
    margin: 20px auto;
    border: none;
    background-color: rgb(198, 61, 61);
    color: white;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: larger;
}

#pay-now{
    width: 70%;
    margin: 10px auto;
    border: none;
    background-color: rgb(205, 171, 85);
    color: rgb(10, 9, 9);
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: larger;
}

